html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: #D5D4D8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.875em 1.5em;
    margin-bottom: 0;
}

input[type=color] {
    width: 70px;
    height: 52px;
    border: none;
}

select,
::picker(select) {
    appearance: base-select;
}

select {
    width: 412px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 1em 0.875em;
    background-color: inherit;
    color: inherit;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
}

::picker(select) {
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px #000000;
}

option {
    padding: 0.5em 0.75em;
    background-color: #1F2937;
    color: #D1D5DB;
}

option:hover,
option:focus {
    font-weight: 600;
}

option:first-of-type {
    border-radius: 6px 6px 0 0;
}

option:last-of-type {
    border-radius: 0 0 6px 6px;
}

option::checkmark {
    order: 1;
    margin-left: auto;
}

/* option {
    background: #1F2937;
    padding: 10px 10px;
}

.custom-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')
} */

button {
    background-color: #3D4B60;
    color: inherit;
    border: none;
    border-radius: 4px;
    padding: 0 0.875em;
    font-weight: 500;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #3D4560;
}

button:active {
    scale: 0.95;
}

.colors {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color {
    background-color: #000000;
    display: flex;
    align-items: flex-end;
}

.color-code {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 1em 0;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
